<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
	 backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
       
	<testsuites>
		<testsuite name="ons_Common">
			<directory suffix="Test.php">.</directory>	
                        						
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory>../test</directory>
		</blacklist>
		<whitelist addUncoveredFilesFromWhitelist="true">			
			<directory suffix=".php">..</directory>
			<exclude>
				<directory>../test</directory>
			</exclude>
		</whitelist>
	</filter>

	<php>
		<var name="DB_DSN" value="mysql:host=localhost;dbname=test_ons_common" />
		<var name="DB_USER" value="test" />
		<var name="DB_PASSWD" value="bhSTGCsFY32ApKeF" />
		<var name="DB_DBNAME" value="test_ons_common" />	
		<var name="DB_DEBUG" value="0"/>
		<var name="TESTMODE" value="test"/>		
	</php>
</phpunit>